@import "modules/_normalize.scss";
@import "modules/_loaders.scss";
@import "modules/_modules.scss";
@import "components/_components.scss";


.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}

.loader {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  /* bring your own prefixes */
  transform: translate(-50%, -50%) !important;

  .loader-element {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    /* bring your own prefixes */
    transform: translate(-50%, -50%) !important;

  }
}